* {
    padding: 0;
    margin: 0;
}

body {
    background-color: chartreuse;
}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}
.box {
    width: 20rem;
    background-color: coral;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 0.5rem solid red;
    text-align: center;
}
